<script src="{{ 'ajax-cart.js' | asset_url }}" defer="defer"></script>

<div class="ajax-cart-container">
    <div class="ajax-cart-header">
        <div>Vanilla JS Cart for Sedin</div>
        <button class="close-ajax-cart">CLOSE</button>
    </div>
    <div class="ajax-cart-items-container">

    </div>
    <div class="ajax-cart-footer">

    </div>
</div>